

<!--== Preloader Area Start ==-->
<div class="preloader">
    <div class="preloader-spinner">
        <div class="loader-content">
            <img src="/Content/
assets/img/preloader.gif" alt="JSOFT">
        </div>
    </div>
</div>
<!--== Preloader Area End ==-->

<!--== Header Area Start ==-->
<header id="header-area" class="fixed-top">
    <!--== Header Bottom Start ==-->
    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <!--== Logo Start ==-->
                <div class="col-lg-4">
                    <a asp-controller="Home" asp-action="Index" class="logo">
                        <img src="/Content/
assets/img/logo.png" alt="JSOFT">
                    </a>
                </div>
                <!--== Logo End ==-->

                <!--== Main Menu Start ==-->
                <div class="col-lg-8 d-none d-xl-block">
                    <nav class="mainmenu alignright">
                        <ul>
                            <li class="active">
                                <a asp-controller="Home" asp-action="Index">ANASAYFA</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="About">HAKKIMIZDA</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Services">HİZMETLER</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Gallery">GALERİ</a>
                            </li>
                            <li>
                                <a hasp-controller="Home" asp-action="Contact">İLETİŞİM</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--== Main Menu End ==-->
            </div>
        </div>
    </div>

    <!--== Header Bottom End ==-->
</header>
<!--== Header Area End ==-->